{
    "presets": ["react-native"],
    "plugins": [
        ["module-alias", [
        { "src": "./src/Utils", "expose": "utils" },
        { "src": "./src", "expose": "src" },
        { "src": "npm:lodash", "expose": "underscore" }
        ]]
    ]
}
